@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-brand: #ccff00;
  --color-dark: #111111;
  --color-card: #1a1a1a;
  --font-display: var(--font-oswald), sans-serif;
}


:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-dark);
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}